<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="Baltimore Beer Week 2014">
    <ion-content padding="true">

        <div class="row">
            <div class="col-40"><img src="img/logo.png" class="ionic-logo"></div>
            <div class="col" style="text-align: center">
                <h3>The 6th Annual Baltimore Beer Week</h3>
                <h4>October 10 - 19, 2014</h4>
            </div>
        </div>

        <p>
            For this year's 6th Annual Baltimore Beer Week: October 10th - 19th, 2014.
            The BBW 2014 Opening Celebration will take place on Saturday October 11th, 2014 and will once again
            coincide with the Das Best Oktoberfest held at M&amp;T Bank Stadium Parking Lot H.
        </p>

        <p>
            Please check back often as events are added.    <a class="icon" href="#" ng-click="openMapModal()"> View Opening Tap Map</a>
        </p>

        <p>
            Cheers,
        </p>
        <p>
            The Baltimore Beer Week Organizing Committee
        </p>
    </ion-content>
</ion-view>
