<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="{{ applicationName }}">
    <ion-nav-buttons side="right">
        <button class="button-icon icon ion-ios7-gear light" ng-click="openSettingsModal()" ng-if="allowConfiguration"></button>
    </ion-nav-buttons>

    <ion-content padding="true">

        <div class="row">
            <img src="img/bbw-header.png" class="logo">
        </div>

        <div class="row">
            <div class="col-40">
            </div>
            <div class="col" style="text-align: center">
                <h3>{{ summaryTitle }}</h3>
                <h4>{{ summaryDates }}</h4>
            </div>

        </div>
        
        <p data-markdown="{{ summaryText }}"></p>
    </ion-content>
</ion-view>
