
<ion-view title="Baltimore Beer Week 2014" animation="nav-title-slide-ios7">
    <ion-nav-buttons side="right">
        <button class="button-icon icon ion-navicon light" ng-click="openFilterModal()"></button>
    </ion-nav-buttons>

    <ion-header-bar align-title="left" class="bar-subheader bar-light">
        <div class="row">
            <div class="col" align="center" ng-click="switchSort()">
                <i class="icon ion-ios7-time-outline"></i>
                Sort By Date
            </div>
            <div class="col" align="center" ng-click="switchSort()">
                <i class="icon ion-ios7-location"></i>
                Sort By Location
            </div>
        </div>
    </ion-header-bar>

    <ion-content delegate-handle="eventListScroll">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshContent()" refreshing-icon="ion-loading-c">
        </ion-refresher>

        <div class="list">
            <div ng-if="sortByDate" ng-repeat="eventDate in eventDates | eventDateSelected:'date':selection">

                <div ng-show="initialized" class="item item-divider">
                    {{ eventDate.date | date: 'fullDate' }}
                </div>

                <a ng-repeat="event in events | matchesDate:'date':eventDate.date | orderBy:'date'" ng-show="initialized" class="item item-thumbnail-left" ng-click="openEventModal({{event.id}})">
                    <img ng-src="{{ event.location.image }}" />
                    <h2>{{event.title}}</h2>
                    <h4 class="item-text-wrap">Location: {{ event.location.name }}</h4>
                    <h4 class="item-text-wrap">Cost: {{ event.cost | currency | costnone:'Free'}}</h4>
                    <h4 class="item-text-wrap">{{ event.description }}</h4>
                </a>
            </div>
            
            <div ng-if="!sortByDate">
                TODO: show by location
            </div>
            

        </div>
    </ion-content>
</ion-view>

