<div class="modal">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Filter Event List</h1>
        <div class="buttons">
            <button class="button-icon icon ion-ios7-close-outline light" ng-click="closeFilterModal()"></button>
        </div>
    </ion-header-bar>

    <ion-content>
        
        <ion-toggle ng-repeat="item in filterSettingsList"
                    ng-model="item.checked"
                    ng-checked="item.checked"
                    toggle-class="toggle-dark">
            {{ item.text }}
        </ion-toggle>

        <ul class="list">
            <li ng-repeat="eventDate in eventDates" class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" name="selectedDates[]" ng-model="eventDate.selected">
                </label>
                {{ eventDate.date | date: 'fullDate'}}
            </li>
        </ul>
    </ion-content>
</div>