<div class="modal">
    <ion-header-bar class="bar-dark">
        <div class="buttons light" side="left">
            <button class="button-icon icon ion-ios7-star-outline light"></button>
        </div>
        <h1 class="title">Baltimore Beer Week 2014</h1>
        <div class="buttons light">
            <button class="button-icon icon ion-ios7-close-outline light" ng-click="closeEventModal()"></button>
        </div>
    </ion-header-bar>

    <ion-content scroll="false">
        <div ng-show="eventInitialized" class="item item-thumbnail-left" ng-click="showLocationMenu()">
            <img ng-src="{{ event.location.image }}" />
            <h2>{{event.title}}</h2>
            <h4 class="item-text-wrap">Location: <a ng-click="showLocationMenu()">{{ event.location.name }}</a></h4>
            <h4 class="item-text-wrap">Cost: {{ event.cost | currency | costnone:'Free'}}</h4>
        </div>

        <div class="row inline-bar">
            <div class="col" align="center" ng-click="switchEventView()">
                <i class="icon ion-android-note"></i>
                Details
            </div>
            <div class="col" align="center" ng-click="switchEventView()">
                <i class="icon ion-location"></i>
                Map
            </div>
            <div class="col" align="center" ng-click="switchEventView()">
                <i class="icon ion-location"></i>
                More Events
            </div>
        </div>
        
        <div ng-show="eventInitialized" style="height: 100%; width: 100%;">
            <div ng-show="!showEventMap" class="item">
                <h4 class="item-text-wrap">{{ event.description }}</h4>
            </div>

            <div ng-show="showEventMap" id="map" style="height: 100%"></div>
        </div>
    </ion-content>

</div>