<div class="modal">
    <ion-header-bar class="bat bar-dark event-detail-header">
        <button ng-class="event.favorite ? 'ion-ios7-star' : 'ion-ios7-star-outline'" class="button button-icon icon light" ng-click="toggleFavorite(event.id)"></button>
        <h1 class="title">Baltimore Beer Week 2014</h1>
        <button class="button button-icon icon ion-ios7-close-outline light" ng-click="closeEventModal()"></button>
    </ion-header-bar>

    <ion-header-bar class="bar-subheader event-detail-header">
        <div class="item item-thumbnail-left">
            <img ng-src="{{ event.location.image }}" />
            <h2>{{event.title}}</h2>
            <h4 class="item-text-wrap">Date: {{event.date | date: 'fullDate'}}</h4>
            <h4 class="item-text-wrap">Time: {{event.date | date: 'shortTime'}}</h4>
            <h4 class="item-text-wrap">Cost: {{ event.cost | currency | costnone:'Pay as you go'}}</h4>
        </div>

        <div class="item">
            <h3 class="text-center">{{ event.location.name }} <span ng-if="event.location.phone.length > 0"> - <a href="tel:{{event.location.phone}}">{{event.location.phone | telephone}}</a></span></h3>
            <h4 class="text-center">{{ event.location.address }}</h4>
        </div>

        <div class="row inline-bar">
            <div class="col" align="center" ng-click="switchEventView('details')">
                <i class="icon ion-android-note"></i>
                Details
            </div>
            <div class="col" align="center" ng-click="switchEventView('location')">
                <i class="icon ion-location"></i>
                Map
            </div>
            <div ng-if="locationEvents.length > 0" class="col" align="center" ng-click="switchEventView('events')">
                <i class="icon ion-ios7-calendar"></i>
                More
            </div>
        </div>
    </ion-header-bar>

    <ion-content ng-show="eventInitialized" scroll="false" class="event-detail-content">
        <div ng-show="showEventDescription" class="item">
            <h4 class="item-text-wrap">{{ event.description }}</h4>
        </div>

        <div ng-show="showEventMap" id="map" class="event-detail-map"></div>

        <div ng-if="locationEvents.length > 0" ng-show="showEventOther" class="item event-detail-others">
            <ion-scroll direction="y" class="event-detail-others">
                <div ng-repeat="event in locationEvents | orderBy:'date'" class="row event-detail-other-event" ng-show="showEventOther">
                    <div class="col col-10"></div>

                    <div class="col col-70 event-detail-other-event-desc">
                        <a ng-click="openEventModal(event.id)">
                            <h3>{{event.title}}</h3>
                            <h4 class="item-text-wrap">{{ event.date | date: 'fullDate' }}</h4>
                        </a>
                    </div>

                    <div class="col col-20">
                        <a ng-click="toggleLocationFavorite(event.id)">
                            <button ng-class="event.favorite ? 'ion-ios7-star' : 'ion-ios7-star-outline' " class="button button-clear icon dark event-detail-other-event-star">
                            </button>
                        </a>
                    </div>
                </div>
            </ion-scroll>
        </div>
    </ion-content>
</div>