<!--
-->

<ion-view title="{{ applicationName }}">

    <div class="bar bar-loading bar-dark" ng-show="data.isLoading">
        <i class="icon ion-ios7-reloading" style="margin-right:10px;"></i>{{ loadingText }}
    </div>

    <ion-content ng-class="{'has-loading': data.isLoading}" ng-show="!data.isLoading">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshContent()" refreshing-icon="ion-loading-c">
        </ion-refresher>

        <div class="list">

            <div ng-repeat="sponsorLevel in levels">
                <div ng-show="initialized" class="item item-divider">
                    {{ sponsorLevel | sponsorLevel }}
                </div>

                <!--  ng-click="openSponsorModal({{sponsor.id}}) -->
                <div ng-repeat="sponsor in sponsors |  orderBy:'title' | filter:{'level':sponsorLevel}" ng-show="initialized" class="item item-thumbnail-left">
                    <img ng-src="{{ sponsor.image }}" />

                    <h2>{{sponsor.title}}</h2>
                    <h4 style="margin-left: 15px;" class="item-text-wrap"><a href="{{sponsor.url}}" target="_blank">{{sponsor.url}}</a></h4>
                    <h4 style="margin-left: 15px;" class="item-text-wrap">{{sponsor.twitter}}</h4>
                    <h4 style="margin-left: 15px;" ng-if="sponsor.phone.length > 0"><a href="tel:{{sponsor.phone}}">{{sponsor.phone | telephone}}</a></h4>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
