<!--
-->

<ion-view title="{{ applicationName }}">
    <ion-header-bar class="bar-subheader bar-light" ng-show="data.isLoading">
        <div class="row">

            <div class="col" align="center">
                <span class='icon-active'>
                    <i class="icon ion-ios7-reloading"></i>
                    {{ loadingText }}
                </span>
            </div>
        </div>
    </ion-header-bar>

    <ion-content class="has-header">
        <ion-refresher ng-show="!data.isLoading" pulling-text="Pull to refresh..." on-refresh="refreshContent()" refreshing-icon="ion-loading-c">
        </ion-refresher>

        <div class="list" ng-show="!data.isLoading">

            <div ng-repeat="sponsorLevel in levels">
                <div ng-show="initialized" class="item item-divider">
                    {{ sponsorLevel | sponsorLevel }}
                </div>

                <!--  ng-click="openSponsorModal({{sponsor.id}}) -->
                <div ng-repeat="sponsor in sponsors |  orderBy:'title' | filter:{'level':sponsorLevel}" ng-show="initialized" class="item item-thumbnail-left">
                    <img ng-src="{{ sponsor.image }}" />

                    <h2>{{sponsor.title}}</h2>
                    <h4 style="margin-left: 15px;" class="item-text-wrap">{{sponsor.url}}</h4>
                    <h4 style="margin-left: 15px;" class="item-text-wrap">{{sponsor.twitter}}</h4>
                    <h4 style="margin-left: 15px;" ng-if="sponsor.phone.length > 0"><a href="tel:{{sponsor.phone}}">{{sponsor.phone | telephone}}</a></h4>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
