<?xml version='1.0' encoding='utf-8'?>
<widget id="com.brewnotes.bbw" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BBW 2014</name>
    <description>
        The official Baltimore Beer Week companion application.
    </description>
    <author email="ben.brouse@brewnotes.com" href="http://brewnotes.com/">
        Baltimore Beer Week Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
