<?xml version='1.0' encoding='utf-8'?>
<widget id="com.brewnotes.bbw" 
        versionCode = "16"
        version="0.9.6"
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android">
  
    <name>BBW 2014</name>
    <description>
        The official Baltimore Beer Week companion application.
    </description>
    <author email="ben.brouse@brewnotes.com" href="http://brewnotes.com/">
        Baltimore Beer Week Team
    </author>
    <version>0.9.6</version>
  
    <content src="index.html" />
    <access origin="*" />
  
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="permissions" value="none" />  

    <!-- Supported Platforms -->
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />
    <gap:plugin name="org.apache.cordova.device" version="0.2.8" />

    <!-- iOS Configuration -->
    <preference name="target-device" value="handset" />  

    <!-- Default Icon -->
    <icon src="icon.png" />
  
    <!-- Android Configuration -->
    <icon src="icon-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="icon-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="icon-hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="icon-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />

    <preference name="android-minSdkVersion" value="14" />    <!-- Android 4.0, 4.0.1, 4.0.2 -->

</widget>
