/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
    display: block;
    margin: 15px auto;
    width: 96px;
    height: 96px;
}

.checkbox input:checked:before {
    border: 0;
    background: #444444;

}
.checkbox input:before {
    border: 1px solid lightgrey;
}

.inline-bar {
    border-color: #b2b2b2;
    background-color: #f8f8f8;
    color: #444; 
}    

.toggle input:checked+.track {
    border-color: #111 !important ;
    background-color: #444444 !important;
}

.event-detail-content {
    top: 230px;
}

.event-detail-header {
    padding: 0;
}

.event-detail-map {
    height: 100%;
}

.event-detail-others {
    height: 100%;
}

.event-detail-other-event {
    margin-bottom: 8px;
}